* {
    margin: 0;
    padding: 0;
}

.commonContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-top: 15px;
}

.commonContainer p {
    text-indent: 25px;
}

.commonContainerBox1 {
    /* background-color: rgb(205, 255, 255); */
    width: 65%;
    padding: 00px 25px 15px 80px;
    box-sizing: border-box;
    font-size: 22px;
    color: #434343;
}

@media(max-width: 1000px) {
    .commonContainerBox1 {
        padding: 10px 25px 10px 25px;
        width: 60%;
    }
}

@media(max-Width: 600px) {
    .commonContainerBox1 {
        padding: 10px 25px 10px 25px;
        width: 100%;
    }
}

.commonContainerBox1 h1,
.commonContainerBox1 h2 {
    text-align: center;
    color: rgb(0, 143, 0);
    font-size: 30px;
}

.commonContainerBox1 li {
    text-align: justify;
    list-style-type: none;
    margin-top: 20px;
}

.commonContainerBox1 li b {
    color: #0d6efd;
    text-align: left;
}

.commonContainerBox1 ul li ul{
    margin-left: 25px;
}
@media(max-width: 800px) {

    .commonContainerBox1 p,
    .commonContainerBox1 li {
        font-size: 18px;
    }

    .commonContainerBox1 h1,
    .commonContainerBox1 h2 {
        font-size: 22px;
    }

    .commonContainerBox1 ul li ul{
        margin-left: 15px;
    }
}

@media(max-width: 600px) {
    .commonContainer {
        flex-wrap: wrap;
    }

    .commonContainerBox1 {
        width: 100%;
    }

    .commonContainerBox1 ul li ul{
        margin-left: 10px;
    }
}


.commonContainerBox2 {
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    min-width: 300px;
    padding: 20px 0;
    margin-top: 50px;
}

@media(max-Width: 1000px) {
    .commonContainerBox2 {
        width: 40%;
    }
}

.commonFollowUsCard {
    box-sizing: border-box;
    width: 80%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgb(142, 142, 142);
    border-radius: 7px;
    padding: 15px 7px;
}

.commonContainerBox2 img {
    width: 80%;
}

#CommonContainerTagLine {
    font-size: 1.4vw;
    margin: 0.5vw 0;
    font-weight: 600;
    background: linear-gradient(to right, rgb(0, 182, 0), #017cee);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media(max-width: 1000px) {
    #CommonContainerTagLine {
        font-size: 1.8vw;
    }

    .commonFollowUsCard {
        width: 90%;
    }
}

@media(max-width: 600px) {
    .commonContainerBox2 {
        width: 100%;
        margin-top: 0;
    }

    #CommonContainerTagLine {
        font-size: 4vw;
        margin: 1.5vw 0;
    }

    .commonContainerBox2 img {
        width: 90%;
    }
}

.commonContainerMedia {
    margin-top: 1vw;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.commonContainerMedia img {
    margin: 0 25%;
    width: 50%;
    border-radius: 20%;
}

@media(max-width: 450px) {
    .commonContainerMedia img {
        margin: 0 15%;
        width: 70%;
    }
}


.commonContainerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.commonContainerLinks h4 {
    font-size: 25px;
    color: #555555;
    margin-top: 10px;
}

.commonContainerLinks a {
    text-decoration: none;
    width: 60%;
    background-color: rgb(234, 234, 234);
    padding: 8px;
    font-size: 17px;
    border-bottom: 1px solid gray;
    color: #0d6efd;
    min-width: 240px;
}

.commonContainerLinks a:hover {
    background-color: white;
    color: rgb(0, 182, 25);
}


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    margin-top: 10px;
}

@media (max-width: 800px) {
    table {
        font-size: 18px;
    }
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    /* color: #0d6efd; */
}