*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    /* max-width: 1500px; */
}
main{
    display: flex;
    /* max-width: 1500px; */
    /* background-color: #a8a8a8; */
}
main h1{
    text-align: center;
    color: #008a5e;
}
.leftBar{
    width: 20%;
}
.rightBar{
    width: 20%;
    min-width: 260px;
}

.testContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.timerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10px;
}

.timer {
    width: 120px;
    background-color: #0faf00;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px #6f6f6f;
    border-radius: 17px;
}

/* .leftBar{
    width: 20%;
    background-color: antiquewhite;
} */

#testForm{
    box-sizing: border-box;
    max-width: 1000px;
    /* margin: 20px; */
    padding: 20px;
    width: 100%;
    /* background-color: aquamarine; */
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}

.question {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.questionBox{
    display: flex;
    margin-bottom: 20px;
}

.serialNo{
    margin-right: 5px;
}
.optBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

input{
    margin: 0 2px 0 20px;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.qButton {
    /* background-color: #28a745;
    color: #fff;
    padding: 7px 10px;
    border: none; */
    cursor: pointer;
    font-size: 16px;
    margin-left: 25px;
    padding: 2px 5px;
    font-family: 'Times New Roman', Times, serif;
    /* border-radius: 7px; */
    /* box-shadow: 0 0 10px #00000026 */
}
.qButton:hover{
    background-color: #0faf00;
    color: #fff;
}
















.questionNavContainer {
    position: fixed;
    bottom: 10px;   
    right: var(--fixed-right, 20px);
    /* right: 20px; */
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* .qBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    margin: 2px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #000;
    cursor: pointer;
} */

.qBox{
    height: 25px;
    width: 30px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
}
.qBox.answered {
    background-color: lightgreen;
    border-radius: 50%;
}

/* .questionNavContainer{
    display: flex;
    justify-content: center;
    border: 1px solid #555;
} */
.navContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navSubject{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 90%; */
    padding: 10px 10px 0 10px;
}

#chemistryTab{
    display: none;
}

#zoologyTab{
    display: none;
}

#botanyTab{
    display: none;
}

.subjectButton{
    margin: 5px;
    cursor: pointer;
}

.subjectButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 10px; */
}
button.subjectButton {
    background-color: white;
    /* padding: 10px 20px; */
    margin: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 7px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.166); */
}

button.subjectButton.active {
    background-color: green;
    color: white;
}
.atmToSubmit{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menuButton{
    display: none;
}
#atmToSubmit , #atmToSubmit2{
    background-color: rgb(0, 150, 120);
    margin: 5px;
    border: 2px solid #a8a8a8;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 7px;
    color: #fff;
}


.menuButton{
    background-color: #0000005f;
    border-radius: 50%;
    display: flex;
    height: 60px;
    width: 60px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

#navSubOpen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    box-sizing: border-box;
}

.menuDot{
    height: 7px;
    width: 7px;
    background-color: #ffffff98;
    margin: 3px;
}

#navSubClose{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

#crossMenuBar1{
    width: 40px;
    height: 7px;
    background-color: #fff;
    transform: rotate(45deg);
    margin-top: 5px;
    margin-bottom: -4px;
    border-radius: 3px;
}

#crossMenuBar2{
    width: 40px;
    height: 7px;
    background-color: #fff;
    transform: rotate(-45deg);
    margin-bottom: 5px;
    margin-top: -3px;
    border-radius: 3px;
}
@media(min-width: 701px){
    .menuButton{
        display: none;
    }
}


@media(max-width: 1100px){
    .leftBar{
        display: none;
    }
    .testContainer{
        width: calc(100% - 240px);
    }
}

@media(max-width: 700px){
    h1{
        font-size: 22px;
        color: #008a5e;
    }
    .timer{
        font-size: 17px;
        width: 80px;
    }
    .questionNavContainer{
        display: none;
    }
    .leftBar{
        display: none;
    }
    .rightBar{
        display: none;
    }
    .testContainer{
        width: 100%;
    }
    .questionNavContainer{
        bottom: 30px;
    }
    
}

@media(max-width: 420px){
    .qButton{
        margin-top: 10px;
    }
    #testForm{
        padding: 10px;
    }
    .question{
        padding: 10px;
    }
    .popup{
        width: 80%;
    }
    input{
        margin: 0 2px 0 25px;
        height: 18px;
        width: 18px;
    }    
}

.popup {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}
.popup p{
    margin: 16px 0;
    text-align: center;
    font-size: 20px;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popupBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.popup button {
    /* margin: 5px; */
    /* padding: 10px 20px; */
    cursor: pointer;
    background-color: rgb(0, 150, 120);
    margin: 10px 5px 5px 5px;
    border: 2px solid #a8a8a8;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 7px;
    color: #fff;
}

.scoreDisplay {
    /* height: 100px;
    width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

#scoreCard{
    display: none;
    width: 80%;
    max-width: 600px;
}

.SciencelessonLogo{
    width: 100%;
    display: flex;
    justify-content: center;
}
#ThankYou{
    color: #0faf00;
    font-size: 30px;
}
.popup img{
    width: 80%;
    max-width: 350px;
    margin-bottom: 5px;
}

.popup hr{
    width: 50%;
    /* height: 0.5px; */
    background-color: #a8a8a8;
    border: none;
    height: 1px;
}

#questionNavContainerScore{
    display: none;
    width: 100%;
}
#questionNavContainerScore h2{
    text-align: center;
}



.fullscreen-button {
    /* position: fixed; */
    float: left;
    margin: 11px 0 0 -55px;
    /* top: 10px; */
    /* right: 10px; */
    /* padding: 10px 20px; */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    opacity: 60%;
    background-color: #fff;
}
.fullscreen-button img{
    height: 25px;
    width: 25px;
}