Body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    padding: 15px;
}
.card a{
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
}